body {
    background-image: url("https://static.tumblr.com/265440eac0089c3cd9df287bdf077f58/hzjwk8o/xufq5syyx/tumblr_static_6cpv8m3o1csggck4kcswc8koc_2048_v2.jpg");
    background-attachment: fixed;
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
}

section {
    background-color: white;
    padding: 10px;
    color: black;
}

footer {
    color: white;
}