@using BC.Shared
@using BC.Shared.Models
@using BC.Client.Shared 

<div class="list-group mb-3">
    @if(Items == null)
    {
        <a href="#" class="list-group-item list-group-item-action list-group-item-secondary text-center">
            No results found.
        </a>
    }
    else
    {
        foreach (var goal in Items)
        {
            <Goal Source="goal" />
        }
    }
</div>

@code {

    [Parameter]
    public List<GoalInfo> Items { get; set; }
}
